{% extends 'base.html.twig' %}

{% block title %}Contactez-nous {% endblock %}

{% block body %}
    {{ include( "partials/title_section.html.twig", {'name' :'Contactez-nous '}) }}

    <div class="container">
        {{ include('contact/_form.html.twig') }}
    </div>

{% endblock %}
